@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Styles */
body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background: #f9f9fc;
    color: #1c1c1c;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Header Styles */
  .main-header {
    background: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #2D3436;
    font-weight: 500;
    font-size: 18px;
  }
  
  #bolda{
    font-weight: 700;
  }

  #purplea{
    color: #6C5CE7;
    font-weight: 400;
  }
  #burger{
    display: none;
  }
  
  .sign-in {
    width: 170px;
    height: 64px;
    background: #6f4ef2;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 44px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
  }
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-nav{
        display: none;

    }
    .logo {
        font-size: 24px;
        color: #2D3436;
      }
    #logo{
        display: none;
    }
    #burger{
        display: block;
    }
    .sign-in {
        width: 128px;
        height: 40px;
        font-size: 18px;}
  }
  
  /* Hero Section */
 
  
  .hero-section {
    padding: 2.4rem 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    
  }
  .svgbg{
    position: absolute;
    top: -95px;
    left: 715px;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 80%;
    
  }
  #bgmob{
    display: none;
  }
  .content{
    position: relative;
    z-index: 1;
  }
  .hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -10px;
  }
  .hero-content h1 {
    font-size: 96px;
    font-weight: 800;
    z-index: 1;
    margin-bottom: -1px;
  }
  
  .hero-content h2 {
    font-size: 64px;
    font-weight: 700;
    color: #2D3436;

    margin-top: 0.5rem;
  }
  .svgrec{
    position: absolute;
    top: 132px;
    left: 544px;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 80%;}
  
  .highlight-word {
    color: rgb(195, 44, 44);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    text-shadow: 0 3px 0px rgb(255, 255, 255);
    
  }
  
  .hero-subtext {
    margin-top: 1rem;
    max-width: 600px;
    color: #2D3436;
  }

.parent {
    display: grid;
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(8, 95px);
    gap: 18px;
    margin: 40px 90px;
}
    
.parent div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }
  
  

.div1 { 
    grid-column: span 3 / span 3;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;

}

.div2 {
    
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
}

.div2 .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
    position: absolute;
    bottom: -20px;
    left: 1rem;
    

}
.div2 .overlay p {
    color: white;
    text-shadow: 1px 1px 3px #000;

    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: bottom;
}
.div3 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.div4 {
    
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
}

.div4 .spoverlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    position: absolute;
    bottom: 190px;
    left:1px;
    

}
.div4 .spoverlay h4 {
    color: white;
    text-shadow: 1px 1px 3px #000;

    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 30px 20px 0px 20px;

    text-transform: none;

}

.div4 .spoverlay p {
    color: white;
    text-shadow: 1px 1px 3px #000;

    font-family: Inter;
    font-weight: 200;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;

}
.div5 {
   
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 5;
}

.div6 {
   
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
    grid-row-start: 5;
}
.div6 .womoverlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
    position: absolute;
    bottom: 300px;
    left: 1rem;
    

}
.div6 .womoverlay p {
    color: white;
    text-shadow: 1px 1px 3px #000;

    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: bottom;
}

.div7 {
   
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    grid-row-start: 2;
}

.div8 {
  
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 11;
    grid-row-start: 2;
}

.div9 {
   
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 11;
    grid-row-start: 5;
}

.div10 {
    grid-column: span 3 / span 3;
    grid-row-start: 7;
}
    
.learnm{
    width: 190px;
    height: 64px;
    background: #6f4ef2;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 44px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}

/* Responsive Styles */
  @media (max-width: 768px) {  
    .sign-in {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
    }
  
    .svgbg{
        position: absolute;
        top: -60px;
        left: 7px;
        width: 150px;
        z-index: 0;
        pointer-events: none;
        opacity: 80%;
        
      }
    .hero-content h1 {
        font-size: 64px;
        font-weight: 800;
        z-index: 1;
        margin-bottom: 20px;
        text-align: center;
        line-height: 0.9;
    }
    .hero-content h1 span{
        font-size: 48px;
       
    }
      
    .hero-content h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2D3436;
    
        margin-top: 0.5rem;
    }
   
    .svgrec{
        position: absolute;
        top: 93px;
        left: -36px;
        transform: scale(0.6);}

    #bgweb{
        display: none;
    }
    #bgmob{
        display: block;
        transform: scale(1.1);
    }
  
    .image-grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .grid-item .overlay {
      font-size: 0.75rem;
    }
  }

  /* delivering good designs */

  .design-section {
    background-color: white;
    padding: 0px 0px 50px 0px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .design-section .container {
   
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: white;
  }
  
  .design-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #width{
    width: 900px;
  }
  
  .design-section p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #2D3436;

    text-align: left;
    font-family: Inter;
    font-weight: 400;

    line-height: 36px;
    letter-spacing: -0.25px;

  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 10px 100px;
  }
  
  .feature {
    background-color: #fff;
    border-radius: 12px;
    transition: transform 0.3s ease;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }
  
  .feature:hover {
    transform: translateY(-5px);
  }
  #lernmre{
    border: 1px solid #2D3436;
    border-radius: 15px ;
    padding: 10px 20px;
    margin: 5px 0;
  }

  
  .feature h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    vertical-align: middle;
    margin: 0;
  }
  
  .feature p {
    color: #2D3436;
    margin-bottom: 30px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 0;
  }
  
  .feature a {
    font-size: 18px;
    color: #5551ff;
    text-decoration: none;
    font-weight: 700;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .features-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .design-section .container {
   
        padding: 1px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: white;
      }
     
      .features-grid {
        display: grid;
        grid-template-columns: repeat(2, 155px);
        gap: 10px 30px;
      }
  .feature h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.19px;
    vertical-align: middle;
    text-align: left;


  }
  .design-section p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    color: #2D3436;}

    #width{
        width: 300px;
      }
      
  }
  

  .feature p {
    font-family: Inter;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .feature a {
    font-family: Inter;
    font-weight: 700;
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;

  }
  .design-section h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
  }

  
 
/* footer section */
  footer {
    background-color: #fff;
    padding: 80px 135px;
    padding-top: 0px;
    position: relative;
  }
  
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
  }
  

  #footerflex{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: -50px;
  }
  
  h4 {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ADADAD;


  }
  
  .footer-social .social-icons,
  .bottom-icons {
    display: flex;
    gap: 1rem;
  }

  .footer-bottom{
    display: none;
  }
  
 .footer-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 0.75rem 3rem;
}

.footer-info ul li {
  flex: 0 0 calc(33.33% - 2rem); /* 3 columns */
  font-size: 0.9rem;
}

  
  .footer-info a {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    vertical-align: middle;
    text-decoration: none;
    color: #000;

  }

  .footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }
  
  .footer-contact .email {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    vertical-align: bottom;
    color: #7a5af8;
    margin: 0;
    margin-top: -15px;

  }
  
  .contact-form {
    position: relative;
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0;
    padding:  0;
  }
  
  .form-title {
    font-size: 0.7rem;
    font-weight: 600;
    color: #999;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .top-row,
  .bottom-row {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group input {
    width: 270px;
    height: 40px;
    padding: 0 2.5rem 0 1rem;
    border: none;
    border-radius: 12px;
    background-color: #f2f2f2;
    font-size: 0.95rem;
    outline: none;
    box-sizing: border-box;
    
  }
  
  .input-group textarea {
    width: 370px;
    height: 80px;
    padding: 10px;
    border-radius: 17px;
    border: 2px solid #cfcaf5;
    background-color: #f2f2f2;
    resize: none;
    outline: none;
    box-sizing: border-box;

    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    
  }
  .input-group textarea::placeholder {
    color: #6C5CE7;
  }


  .input-group .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
  }
  
  .message-box .icon {
    top: 1rem;
    transform: none;
  }
  
  .send-btn {
    width: 170px;
    height: 80px;
    background-color: #7b5dfd;
    color: white;
    border: none;
    border-radius: 17px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 20px rgba(123, 93, 253, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .send-btn:hover {
    background-color: #6c4ee0;
  }
  
  
  .footer-bottom {
    text-align: center;
    padding: 2rem 1rem;
    background: #ffffff;
    border-radius: 0 0 20px 20px;
    margin-top: 2rem;
  }
  
 
  
  .footer-bottom .setproduct a {
    color: #04bfa0;
    text-decoration: none;
  }
  
  .footer-bottom .mobile-email {
    color: #7a5af8;
    font-weight: bold;
  }
  
  .footer-bottom .bottom-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  /* Mobile Responsive */
@media (max-width: 768px) {
    footer{
        margin: 0;
        padding: 0 ;
    }
    .footer-top {
      flex-direction: column;
      gap: 2rem;
      padding:0;
    
    }
    #svgfot{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #fot{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-bottom: 10px;
    }
  
    .footer-info ul {
      grid-template-columns: 1fr;
    }
  
    .footer-contact form {
      flex-direction: column;
    }
    
    .footer-bottom{
        display: flex;
        flex-direction: column;
        
    }

    #copy {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;

    }
    .setproduct{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.3px;
        text-align: center;
        vertical-align: middle;
        margin: 0;

    }
    .mobile-email{
        font-family: Inter;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        text-align: center;
        vertical-align: middle;
        margin: 0;

    }
    .footer-contact{
        display: none;
    }
    #footerflex{
        display: none;
    }
  
    .footer-contact input,
    .footer-contact textarea,
    .footer-contact button {
      width: 100%;
    }
  
    .footer-bottom {
      border-radius: 0;
      padding: 1.5rem 1rem;
    }
  }
  